<main>
  <header>
    <div class="header-content">
      <section>
        <img
          src="./../../../assets/logo.svg"
          alt="logo"
          srcset="./../../../assets/logo.svg"
        />
      </section>
      <nav>
        <span>HOME</span>
        <span>ABOUT</span>
        <span>BARBERS</span>
        <span>PRICES</span>
        <span>UNITIES</span>
      </nav>
      <section class="header-auth">
        <button mat-flat-button>LOGIN</button>
        <button mat-button>SIGN UP</button>
      </section>
    </div>
  </header>
  <p>home works!</p>
</main>
